.h1 {
    position: absolute;
    width: 8%;
    height: 20%;
    left: 18%;
    margin-top: 5.8%;
}

.h2 {
    position: absolute;
    width: 8%;
    height: 50%;
    left: 27%;
    margin-top: 5.8%;
}

.h3 {
    position: absolute;
    width: 8%;
    height: 20%;
    left: 36%;
    margin-top: 5.8%;
}

.h4 {
    position: absolute;
    width: 14%;
    height: 14%;
    left: 49%;
    margin-top: 5.8%;
}

.h5 {
    position: absolute;
    width: 7%;
    height: 17%;
    left: 66%;
    margin-top: 5.8%;
}

.h6 {
    position: absolute;
    width: 7%;
    height: 14%;
    left: 75%;
    margin-top: 5.8%;
}